
html{
    overflow-x: hidden;
  }
  body {
    margin: 0;
    user-select: none;
   
  }
  ::-webkit-scrollbar {
    width: 5px;
  
  }
  
  
  ::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #F9896B;
    border-radius: 2.5px;
  }