body, html {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
     font-family: 'Montserrat'
}

.forget_main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Montserrat';
}

.forget_sub_main {
    display: flex;
    width: 1007px;
    height: 547px;
    margin: auto;
}
span{
  color: red;
  letter-spacing: 1px;
  position: relative;
  top: 4px;
}
.left_image img {
          width: 95%;
    height: 100%;
}
.forget_right_side{
    flex: 1;
}
.key_image{
     display: flex;
    margin-top:20% ;
    padding-right: 9%;
    justify-content: center;
}
.forget_text{
    padding-top: 2%;
   text-align: center;
    letter-spacing: 1px;
    line-height: 12px;
}

.forget_text p{
    font-size: 12px;
    color: #a9a9a9;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

.group {
  position: relative;
  margin-bottom: 45px;
}
.xmark {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px; 
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none;
}

.forget_email_form{
    display: flex;
    justify-content: center;
}
#forgot{
   display: flex;
   justify-content: center;
   padding-top: 8%;
   flex-direction: column;
   }

.reset-btn{
    text-transform:capitalize;
position:relative;
left: 66px;

}
.forget_email{
    text-align: center;
  }


.forget_email button{
 appearance: none;
 background-color: transparent;
 border: 0.125em solid #1A1A1A;
 border-radius: 80em;
 box-sizing: border-box;
 color: #3B3B3B;
 cursor: pointer;
 display: inline-block;
 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.forget_email button:disabled {
 pointer-events: none;
}

.forget_email button:hover {
 color: #fff;
 background-color:#F9896B;
  border: 0.125em solid #F9896B;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

.forget_email button :active {
 box-shadow: none;
 transform: translateY(0);
}
/* OTP */
.forgot_OTP{
   
    position: relative;
    left: 20px;
    top: 15%;
    
}
.otp_title{
    text-align: center;
    letter-spacing: 1px;
    line-height: 12px;
}

.OTP_des p{
    text-align: center;
 
}
.otp_input{
    display: flex;
    justify-content: center;
    padding-top: 6%;
}
.forgot_OTP{
    display: none;
}
.new_password{
position: relative;
    left: 2px;
    top: 7%;
line-height: 10px;
}
.set_password_text{
    text-align: center;
}
.lock_image{
    text-align: center;
}
.password_para {
    width: 76%;
    height: 50px;
    position: relative;
    left: 63px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

.password_form{

    position: relative;
    left:92px;

    top: 32px;

}
.set{
    
     position: relative;
    right: 105px;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.back_login {
   position: relative;
    left: 60px;
    top: 34px;
}
.new_password{
  display: none;
}
#forgot .forget_email,#otp_form .forget_email{
  position: relative;
  right: 70px;

}
.new-password .forget_email{
  position: relative;
  right:34px;
}
#for_email-error,#for_code-error,#for_new-error,#for_con-error{
  display: none;
}
fa-eye {
  content: "\f06e";
}

/* Style for the eye slash icon when password is hidden */
.fa-eye-slash {
  content: "\f070"; /* Unicode for eye slash icon in Font Awesome */
}

#conformPword {
  padding-right: 30px; /* Adjust this value based on your design */
  position: relative;
}

/* Style for the eye icon */
#togglePassword {
  position: absolute;
  top: 50%;
    left: 312px;

  transform: translateY(-50%);
  cursor: pointer;
}

#confirm {
  padding-right: 30px;
  position: relative;
}


#toggleConfirmPassword {
  position: absolute;
 top: 50%;
 left: 312px;
  transform: translateY(-50%);
  cursor: pointer;
}
